<!DOCTYPE html>
<html>
 <head>
  <title>
   book info
  </title>
 </head>
 <body>
  <h1>
   Professional Java for Web Applications
  </h1>
  <table width="100%">
   <tr>
    <td>
     <p>
      <img border="1" height="250" src="/home/vijay/Documents/Aptana_Workspace/Better/seleniumone/books/3668/professional_java_for_web_applications.jpg" width="200"/>
     </p>
    </td>
    <td>
     <h4>
      Book Description
     </h4>
     <p>
      This guide shows Java software developers and software engineers how to build complex web applications in an enterprise environment. You'll begin with an introduction to the Java Enterprise Edition and the basic web application, then set up a development application server environment, learn about the tools used in the development process, and explore numerous Java technologies and practices. The book covers industry-standard tools and technologies, specific technologies, and underlying programming concepts.
     </p>
    </td>
   </tr>
   <tr>
    <td>
     <p align="right">
      Publisher
     </p>
    </td>
    <td>
     <p>
      Wrox
     </p>
    </td>
   </tr>
   <tr>
    <td>
     <p align="right">
      by (Authors)
     </p>
    </td>
    <td>
     <p>
      ,Nicholas S. Williams
     </p>
    </td>
   </tr>
   <tr>
    <td>
     <p align="right">
      isbn 13
     </p>
    </td>
    <td>
     <p>
      978-1-118-65646-4
     </p>
    </td>
   </tr>
   <tr>
    <td>
     <p align="right">
      Pages
     </p>
    </td>
    <td>
     <p>
      936
     </p>
    </td>
   </tr>
   <tr>
    <td>
     <p align="right">
      Languages
     </p>
    </td>
    <td>
     <p>
      English
     </p>
    </td>
   </tr>
   <tr>
    <td>
     <p align="right">
      File Format
     </p>
    </td>
    <td>
     <p>
      PDF
     </p>
    </td>
   </tr>
  </table>
 </body>
</html>