<!DOCTYPE html>
<html>
 <head>
  <style>
   tr:nth-child(2n) {
                         background-color: #ececec;
                    }
                    p.small {
                        font-style: normal;
                        font-size:50%;
                        
                    }
  </style>
  <title>
   book info
  </title>
 </head>
 <body>
  <h1>
   A Peek at Computer Electronics
  </h1>
  <table width="100%">
   <tr>
    <td>
     <p>
      <img border="1" height="250" src="C:\new\1\a_peek_at_computer_electronics.front.jpg" width="200"/>
     </p>
    </td>
    <td>
     <h4>
      Book Description
     </h4>
     <p>
      Are you a programmer or computer enthusiast? Do you feel comfortable with methods, functions, and variables? Do you wish you knew more about how the computer made it all work? Now you can. From basic electronics to advanced computer hardware, you'll learn the magic behind the gear that makes it all run.

If you're into tinkering, or ever thought about it, this book explains the basics of how it all works.
     </p>
    </td>
   </tr>
  </table>
  <table width="100%">
   <tr>
    <td>
     <p align="right">
      Publisher:
     </p>
    </td>
    <td>
     <p>
      The Pragmatic Programmers
     </p>
    </td>
   </tr>
   <tr>
    <td>
     <p align="right">
      by (Authors):
     </p>
    </td>
    <td>
     <p>
      ,Caleb Tennis
     </p>
    </td>
   </tr>
   <tr>
    <td>
     <p align="right">
      ISBN 13:
     </p>
    </td>
    <td>
     <p>
      978-0-9776-1668-8
     </p>
    </td>
   </tr>
   <tr>
    <td>
     <p align="right">
      Pages:
     </p>
    </td>
    <td>
     <p>
      250
     </p>
    </td>
   </tr>
   <tr>
    <td>
     <p align="right">
      Languages:
     </p>
    </td>
    <td>
     <p>
      English
     </p>
    </td>
   </tr>
   <tr>
    <td>
     <p align="right">
      File Format:
     </p>
    </td>
    <td>
     <p>
      <img border="0" src="C:\Users\vijay\workspace\Opal\src\ui\view\opalview\images\pdf.png"/>
     </p>
    </td>
   </tr>
   <tr class="small">
    <td>
     <p align="right">
      File Size:
     </p>
    </td>
    <td>
     <p>
      5.52 MB
     </p>
    </td>
   </tr>
  </table>
 </body>
</html>