<!DOCTYPE html>
<html>
 <head>
  <style>
   p.small {
                        font-style: normal;
                        font-size:50%;

                    }
  </style>
  <title>
   book info
  </title>
 </head>
 <body>
  <h1>
   9781783550838-XAMARIN_ESSENTIALS(1)
  </h1>
  <table width="100%">
   <tr>
    <td>
     <p>
      <img border="1" height="389" src="/docs/new/library/1/9781783550838-XAMARIN_ESSENTIALS(1).jpg" width="300"/>
      <img border="1" height="259" src="/docs/new/library/1/9781783550838-XAMARIN_ESSENTIALS(1).jpg" width="200"/>
     </p>
    </td>
    <td>
     <h4>
      Book Description
     </h4>
     <p>
      You want your development team to be productive. You want to write flexible, maintainable web applications. You want to use Ruby and Rails. But can you justify the move away from established platforms such as J2EE? Bruce Tate's From Java to Ruby has the answers, and it expresses them in a language that'll help persuade managers and executives who've seen it all. See when and where the switch makes sense, and see how to make it.
     </p>
    </td>
   </tr>
  </table>
  <table width="100%">
   <tr bgcolor="#ececec">
    <td>
     <p align="right">
      Publisher:
     </p>
    </td>
    <td>
     <p>
      Adobe InDesign CS6 (Windows)
     </p>
    </td>
   </tr>
   <tr>
    <td>
     <p align="right">
      by (Authors):
     </p>
    </td>
    <td>
     <p>
      Unknown
     </p>
    </td>
   </tr>
   <tr>
    <td>
     <p align="right">
      Pages:
     </p>
    </td>
    <td>
     <p>
      234
     </p>
    </td>
   </tr>
   <tr bgcolor="#ececec">
    <td>
     <p align="right">
      Languages:
     </p>
    </td>
    <td>
     <p>
      English
     </p>
    </td>
   </tr>
   <tr>
    <td>
     <p align="right">
      File Format:
     </p>
    </td>
    <td>
     <p>
      <img border="0" src="/docs/github/Opal/src/static/../images/pdf.png"/>
     </p>
    </td>
   </tr>
   <tr bgcolor="#ececec" class="small">
    <td>
     <p align="right">
      File Size:
     </p>
    </td>
    <td>
     <p>
      3.73M
     </p>
    </td>
   </tr>
  </table>
 </body>
</html>